*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2{
    margin-bottom: 15px;
    color: #555;
}

.container{
    max-width: 33%;
    background: #fff;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #050404;
}

.form-right, .form-left{
    display: flex;
    flex-direction: column;
}

.form-left{
    flex: 1;
    margin-right: 20px;
    gap: 15px;
}

.form-right{
    gap: 20px;
    flex: 1;
    margin-left: 20px;
}

button{
    padding: 10px;
    background-color:white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border: #050404 2px solid;
    width: 100px;
}

button:hover{
    background-color: #333;
    color: white;
    /* biar agak naik */ 
    transform: translateY(-2px);
    transition: 0.3s;
}

label{
    margin-bottom: 5px;
    color: #333;
}

input[type="text"]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
